.Button {
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: small;
    border: none;
    color: white;
}

.clicked {
    font-size: large;
    border: 5px, solid, green;
}